# Import Libaries

In [232]:
import re
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [233]:
webpage_response = requests.get('https://content.codecademy.com/courses/beautifulsoup/shellter.html')


prefix = "https://content.codecademy.com/courses/beautifulsoup/"
webpage = webpage_response.content
soup = BeautifulSoup(webpage, "html.parser")

turtle_links = soup.find_all("a")
links = []
#go through all of the a tags and get the links associated with them"
for a in turtle_links:
  links.append(prefix+a["href"])
    
#Define turtle_data:
turtle_data = {}

#follow each link:
for link in links:
  webpage = requests.get(link)
  turtle = BeautifulSoup(webpage.content, "html.parser")
  turtle_name = turtle.select(".name")[0].get_text()
  
  stats = turtle.find("ul")
  stats_text = stats.get_text("|")
  turtle_data[turtle_name] = stats_text.split('|')

import pandas

turtle_df = pd.DataFrame.from_dict(turtle_data,orient ="index")

In [234]:
columns = ['Age','Weight','Sex','Breed','Source']

In [235]:
turtle_df.head()

,0,1,2,3,4,5,6,7,8,9,10
Aesop,\n,AGE: 7 Years Old,\n,WEIGHT: 6 lbs,\n,SEX: Female,\n,BREED: African Aquatic Sideneck Turtle,\n,SOURCE: found in Lake Erie,\n
Caesar,\n,AGE: 2 Years Old,\n,WEIGHT: 4 lbs,\n,SEX: Male,\n,BREED: Greek Tortoise,\n,SOURCE: hatched in house,\n
Sulla,\n,AGE: 1 Year Old,\n,WEIGHT: 1 lb,\n,SEX: Male,\n,BREED: African Aquatic Sideneck Turtle,\n,SOURCE: found in Lake Erie,\n
Spyro,\n,AGE: 6 Years Old,\n,WEIGHT: 3 lbs,\n,SEX: Female,\n,BREED: Greek Tortoise,\n,SOURCE: hatched in house,\n
Zelda,\n,AGE: 3 Years Old,\n,WEIGHT: 2 lbs,\n,SEX: Female,\n,BREED: Eastern Box Turtle,\n,SOURCE: surrendered by owner,\n

#### Drop the columns that are empty.

In [236]:
turtle_df.drop(labels=[0,2,4,6,8,10], axis=1, inplace=True)

##### Assing names of the columns to numbers

In [237]:
turtle_df.columns = columns

In [238]:
# View Database
turtle_df

,Age,Weight,Sex,Breed,Source
Aesop,AGE: 7 Years Old,WEIGHT: 6 lbs,SEX: Female,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie
Caesar,AGE: 2 Years Old,WEIGHT: 4 lbs,SEX: Male,BREED: Greek Tortoise,SOURCE: hatched in house
Sulla,AGE: 1 Year Old,WEIGHT: 1 lb,SEX: Male,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie
Spyro,AGE: 6 Years Old,WEIGHT: 3 lbs,SEX: Female,BREED: Greek Tortoise,SOURCE: hatched in house
Zelda,AGE: 3 Years Old,WEIGHT: 2 lbs,SEX: Female,BREED: Eastern Box Turtle,SOURCE: surrendered by owner
Bandicoot,AGE: 2 Years Old,WEIGHT: 2 lbs,SEX: Male,BREED: African Aquatic Sideneck Turtle,SOURCE: hatched in house
Hal,AGE: 1 Year Old,WEIGHT: 1.5 lbs,SEX: Female,BREED: Eastern Box Turtle,SOURCE: surrendered by owner
Mock,AGE: 10 Years Old,WEIGHT: 10 lbs,SEX: Male,BREED: Greek Tortoise,SOURCE: surrendered by owner
Sparrow,AGE: 1.5 Years Old,WEIGHT: 4.5 lbs,SEX: Female,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie

In [239]:
# Find Age Column and split it by : 
df_age = turtle_df['Age'].str.split(':',expand=True)


df_age = df_age.get(1).str.split('\s',expand=True)

# Make columns numeric by pandas code

df_age = pd.to_numeric(df_age.get(1))

# Assing it to Age column 
turtle_df['Age'] = df_age

In [240]:
# Same code for weight column
df_weight = turtle_df.Weight.str.split(':', expand=True)
df_weight = df_weight.get(1).str.split('lb', expand=True)
df_weight = pd.to_numeric(df_weight.get(0))
turtle_df.Weight = df_weight

In [242]:
turtle_df.Sex = turtle_df.Sex.apply(lambda x: x.split(':')[1])
turtle_df.Breed = turtle_df.Breed.apply(lambda x: x.split(':')[1])
turtle_df.Source = turtle_df.Source.apply(lambda x: x.split(':')[1])

In [243]:
# Make source capital letters
turtle_df.Source = turtle_df.Source.apply(lambda x: x.title())

In [244]:
turtle_df

,Age,Weight,Sex,Breed,Source
Aesop,7.0,6.0,Female,African Aquatic Sideneck Turtle,Found In Lake Erie
Caesar,2.0,4.0,Male,Greek Tortoise,Hatched In House
Sulla,1.0,1.0,Male,African Aquatic Sideneck Turtle,Found In Lake Erie
Spyro,6.0,3.0,Female,Greek Tortoise,Hatched In House
Zelda,3.0,2.0,Female,Eastern Box Turtle,Surrendered By Owner
Bandicoot,2.0,2.0,Male,African Aquatic Sideneck Turtle,Hatched In House
Hal,1.0,1.5,Female,Eastern Box Turtle,Surrendered By Owner
Mock,10.0,10.0,Male,Greek Tortoise,Surrendered By Owner
Sparrow,1.5,4.5,Female,African Aquatic Sideneck Turtle,Found In Lake Erie

In [275]:
def average_age(data):
    """
    Sums all ages and gives average..
    """
    
    data.values.tolist()
    total = sum(data)
    total_age = int(len(data))
    total_age = int(total / total_age)
    print('Total ages sums up to ' + str(total) + ' and average age is ' + str(total_age) + '.')
        
        
average_age(turtle_df.Age)

Total ages sums up to 33.5 and average age is 3.

In [288]:
turtle_df.Sex.value_counts()

 Female    5
 Male      4
Name: Sex, dtype: int64

### Thank you for looking at my little project.
##### Project done at 28/03/2021